body {
  background: #fff;
  color: #000;
  margin: 0px;
  padding: 0px;
  direction: ltr;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 11px;
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

.input_wrapper {
  position: relative;
  margin: 0 auto;
  width: 420px;
  padding-right: 1px;
  border: 1px solid #C0CAD5;
  top: 100px;
  display: block;
  overflow: visible !important;
  .input_area {
    padding: 2px;
    min-height: 30px;
    overflow-x: hidden;
    padding-right: 20px;
    #u_empty_wrapper{
      z-index: 10;
      width: 423px;
      left: -1px;
      height: 26px;
      display: none;
      position: absolute;
      .users_empty {
        border: solid #C0CAD5;
        border-width: 0px 1px 1px;
        line-height: 28px;
        text-align: center;
        background: #F1F1F1;
        top: 29px;
        overflow: hidden;
        -moz-box-shadow: 0 2px 5px -1px rgba(182, 182, 182, 0.75);
        -webkit-box-shadow: 0 2px 5px -1px rgba(182, 182, 182, 0.75);
        box-shadow: 0 2px 5px -1px rgba(182, 182, 182, 0.75);
      }
    }
    .input_arrow {
      position: absolute;
      width: 21px;
      height: 24px;
      top: 0px;
      right: 0px;
      margin: 2px;
      cursor: pointer;
    }
    .bubble_add{
      float: left;
      padding: 3px 8px 4px;
      background: #e5e8ed;;
      border-radius: 2px;
      padding-right: 23px;
      position: relative;
      margin: 5px 2px 0px 2px;
      color: #45688E;
      display: none;
      cursor: pointer;
      .bubble_add_plus{
        content: '';
        background-image: url('./img/plus.gif');
        width: 11px;
        height: 11px;
        display: block;
        position: absolute;
        top:6px;
        right: 6px;
        background-position: 0px 11px;
        opacity: 0.5;
        cursor: pointer;
        filter: alpha(opacity=12);
        -webkit-transition: opacity 200ms linear;
        -moz-transition: opacity 200ms linear;
        -o-transition: opacity 200ms linear;
        transition: opacity 200ms linear;
        &:hover{
          opacity: 1;
        }
      }
    }
    .bubble{
      float: left;
      padding: 3px 8px 4px;
      background: #597DA3;
      border-radius: 2px;
      color:#fff;
      padding-right: 23px;
      position: relative;
      margin: 5px 2px 0px 2px;
      .bubble_close{
        content: '';
        background-image: url('./img/close.gif');
        width: 11px;
        height: 11px;
        display: block;
        position: absolute;
        top:6px;
        right: 6px;
        background-position: 0px 11px;
        opacity: 0.12;
        cursor: pointer;
        filter: alpha(opacity=12);
        -webkit-transition: opacity 200ms linear;
        -moz-transition: opacity 200ms linear;
        -o-transition: opacity 200ms linear;
        transition: opacity 200ms linear;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}

.form_input {
  outline: 0;
  background-color: transparent;
  border: 0px solid;
  width: 382px;
  padding: 4px 6px 6px;
  height: 14px;
  font-size: 11px;
  color: #777777;
  padding: 4px 6px 6px;
}

.users_list {
  z-index: 1000;
  display: none;
  width: 421px;
  overflow: hidden;
  border-top: 1px solid #C0CAD5;
  -moz-box-shadow: 0 2px 5px -1px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: 0 2px 5px -1px rgba(182, 182, 182, 0.75);
  box-shadow: 0 2px 5px -1px rgba(182, 182, 182, 0.75);
  .scrollbar {
    position: absolute;
    height: 211px;
    right: 0px;
    left: auto;
    pointer-events: auto;
  }
  .users {
    max-height: 210px;
    overflow-y: scroll;

  }
}
.user {
  cursor: pointer;
  display: block;
  padding: 0px 6px;
  background: #FFF;
  clear: both;
  min-height: 32px;
  &:hover {
    .user_inner {
      border-bottom: 0px;
    }
    margin-top: -1px;
    background: #F1F5F9;
    border: solid #E1E7ED;
    border-width: 1px 0px;
    /*border-bottom: 1px solid #EDEDED;
    background-color: #C0CAD5;*/
  }
  .user_inner {
    border-bottom: 1px solid #EDEDED;
    padding: 6px 0px;
    min-height: 32px;
    .img_wrapper {
      width: 38px;
      height: 32px;
      overflow: hidden;
      float: left;
    }
    .user_img {
      vertical-align: top;
      width: 32px;
      height: 32px;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
    }
    .user_info{
      padding-top: 2px;
      color: #777;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}